<div class="flex items-center justify-between px-6 py-3 bg-gray-800 text-white">
    <div class="flex items-center">
      <!-- Left side menubar -->
      <p-menu [model]="items" #menu [popup]="true" (toggleClick)="toggleMobileMenu()">
        <ng-template pTemplate="start">
          <button class="p-menu-button-icon" (click)="toggleMobileMenu()">
            <!-- <i class="pi pi-bars"></i> -->
          </button>
        </ng-template>
      </p-menu>
      <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>
    </div>
  
    <!-- Center search bar -->
    <div class="w-full max-w-xs mx-auto">
        <input type="text" pInputText placeholder="Search..." class="p-inputtext p-component p-element w-full py-1 px-3 rounded-md border border-gray-400" [(ngModel)]="value" />
    </div>
  
    <!-- Right side logo -->
    <div class="ml-6">
      <img src="hk" alt="Logo" class="h-10 w-10 rounded-full">
    </div>
  </div>
  