<header>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon (click)="sidenavOpen()" >menu</mat-icon>
        </button>
        <span>Articles</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>      
</header>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side"  [ngClass]="openDrawer ? 'd-show' : 'd-none'" opened>
        
        <cdk-accordion class="example-accordion">
            @for (item of items; track item; let index = $index) {
            <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item">
              <button
                class="example-accordion-item-header"
                (click)="accordionItem.toggle();topicExpanded(item)"
                tabindex="0"
                [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                {{ item }}
              </button>
              @if(accordionItem.expanded) {
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index"
              >
              <mat-list role="list">
                @for(subTopic of subTopicList; track subTopic; let index = $index) {
                    <mat-list-item role="listitem">{{subTopic.title}}</mat-list-item>
                }
               </mat-list>
              </div>
              }
            </cdk-accordion-item>
            }
          </cdk-accordion>
          
    </mat-drawer>
    <mat-drawer-content>
        <article [innerHTML]="projectedContent"></article>
    </mat-drawer-content>
  </mat-drawer-container>
  
  